{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Login{% endblock extra_title %}
{% block content %}
<main class="main-container d-flex justify-content-center align-items-center">
    <section class="form-container col-md-6">
        <div class="text-center pos-rel">
            <a href="{% url 'home' %}" class="close-btn-form" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Cancelar">
                <i class="fa-solid fa-xmark text-secondary fs-3"></i>
            </a>
            <small>¿Ya está registrado?</small>
            <h1>Inicia sesión</h1>
        </div>
        <div class="mt-5">
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username" id="floatingInput" placeholder="name@example.com" autofocus>
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                    <button type="submit" class="btn btn-secondary btn-login w-50 mb-3">Login</button>
                    <small>Si no tiene cuenta de usuario, haga el registro <a href="{% url 'signup' %}" class="text-light text-decoration-underline">aquí</a>.</small>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock content %}