{% load static %}
<footer class="bee-footer">
    <img src="{% static 'images/bee-logo.png' %}" alt="Bee Happy Logo on footer" class="footer-logo">
    <div class="footer-head">
        <h4>B<span class="bee-yellow">e</span>e Happy</h4>
        <small>Little friends, big helpers</small>
        <p>&copy; 2026 AnaMelisaGo</p>
    </div>
    <div class="footer-body">
        <div class="footer-links">
            <a href="#">Nuestra misión</a>
            <a href="#">Suscríbete<span class="sub-bee">!</span></a>
            <a href="#">Política de privacidad</a>
            <a href="#">Política de cookies</a>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/" target="_blank"  rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank"  rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://x.com/" target="_blank"  rel="noopener noreferrer">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank"  rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>