<!-- Delete Modal -->
<div class="modal fade" id="staticModalDelete{{ post.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header" data-bs-theme="dark">
            <h5>Eliminar Post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Desea eliminar este post?
        </div>
        <div class="modal-footer">
            <a href="{% url 'post_eliminar' post.id %}" class="btn btn-danger">Eliminar</a>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
</div>